<div class="container">
    <img [src]="picture" class= "rounded mx-auto d-block" *ngIf ="picture">
</div>
<div class="container">
    <app-multiple-choice-question *ngIf="question.type==0" [question]="question"></app-multiple-choice-question>
    <app-rate-question *ngIf="question.type==1" [question]="question"></app-rate-question>
    <app-open-question *ngIf="question.type==2" [question]="question"></app-open-question>
    <app-drill-down-question *ngIf="question.type==3" [question]="question"></app-drill-down-question>
</div>
