<br>
<div class="container">
  <input questionType="submit" class="btn btn-primary btn-sm" (click)="finishPreview()" value="Finish preview">
</div>
<br>
<div *ngFor="let block of blocks; let i=index">
  <app-test-page-block *ngIf="showBlock(i)" [block]="block" (finished)="isFinished($event)"></app-test-page-block>
</div>
<div style="text-align:center">
  <input questionType="submit" class="btn btn-primary" [hidden]="hideNextButton" (click)="nextBlock()"
         [value]=" currIndex >= blocksLength - 1 ? 'Finish preview' : 'Next Block'">
</div>
