<br>
<br>
<div class="row">
  <div class="col-md6 mx-auto">
    <div class="container">
      <div class="card-body">
        <span>Cognitivity</span>
        <form name="form"  #f="ngForm" (ngSubmit)="onSubmit(f)">
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" [(ngModel)]="user.email" #email="ngModel" name="email" required autocomplete="off" minlength="4" [pattern]=REGEX_EMAIL_FORMAT_INPUT>
            <div *ngIf="email.errors?.required && email.touched || (noEmail && !email.touched)" class="alert">
              Please enter your email!
            </div>
            <div *ngIf="email.errors?.pattern && email.touched" class="alert">
              Please enter a valid email!
            </div>
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" [(ngModel)]="user.password" #password="ngModel" name="password" required minlength="8" autocomplete="off">
            <div *ngIf="password.errors?.required && password.touched || (noPassword && !password.touched)" class="alert">
              Please enter your password!
            </div>
            <div *ngIf="password.errors?.minlength && password.touched" class="alert">
              Password must contain at least 8 characters
            </div>
          </div>
          <br>
          <br>
          <input type="submit" class="btn btn-block btn-success btn-md" value="Login">
          <div *ngIf="!correctUser" class="alert">
            Wrong credentials, please check your email and password
          </div>
        </form>
      </div>
    </div>
  </div>
</div>