<!doctype html>
<html>

<body>
  <br>
  <br>
  <br>
  <br>
  <div class="container">
    <span>Cognitivity.</span>
  </div>
  <br>
  <br>
  <br>
  <br>
  <div class="container">
    <div class="row">
      <div class="form-group ">
        <label for="username">User name:</label>
        <input type="login" class="form-control" id="username1" placeholder="Enter user name">
      </div>
      <br>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control justify-content-center" id="password1" placeholder="Password">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="form-check">
      <label class="form-check-label">
        <br>
        <input type="checkbox" class="form-check-input"> Remember me
      </label>
    </div>
  </div>
  <div class="container">
    <br>
    <button type="login" class="btn btn-primary">Login</button>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</body>

</html>