

# This is a git ignore file for Cognitivity project.


*.class
*.jar
lib/
bin/
out/
target/
.classpath
.project
.settings
src/main/webapp/META-INF
.idea
*.iml
code/node_modules/
code/client/node_modules/

code/src/main/java/cognitivity/controllers/GetItControllerForTesting
