<div class="cover">



    <div class="container">

        <div class="font" style=" margin: 0em 1em; font-size: 30px;">
            <span class=" fa fa-plus-square" style="margin: 1em;"></span>Create a new question
        </div>
    </div>
    <br>
    <form #f="ngForm" class="container-fluid">
        <div class="form-group">
            <div class="font centered">
                <label for="Question text">
                    Enter the question:
                </label>
                <input autocomplete="off" [(ngModel)]="questionText" name="question1" #question1="ngModel"
                       type="text" class="form-control" maxLength="256"
                       placeholder="Question text" style="max-width: 100%;" required maxLength="256">
                <br>
                <form #f="ngForm">
                    <div class="checkbox">
                        <input id="distractionsCheckBox" type="checkbox"  [checked]="showDistractions" (click)="toggleDistractions()">
                        <label for="distractionsCheckBox">Enable distractions</label>
                    </div>
                    <label for="distractionsSeconds"> Enter number of seconds for the countdown: </label>
                    <input id="distractionsSeconds" class="form-control" type="number" [disabled]="!showDistractions" #seconds  min="0"
                    (onchange)="updateDistractionCountdown(seconds.value)" value="0">
                </form>

            </div><br>
            <br>
            <div class="container">
                <div class="dropdown">
                    <button class="dropbtn" [hidden]="editionMode">
                        <span class="fa fa-chevron-down"> {{type_question_desc}}</span>
                    </button>

                    <div class="dropdown-content">
                        <button class="btn btn-basic" *ngIf="!didChoseMultipleQuestion()" style="min-width: 250px;" (click)="setMultipleQuestion()">Multiple choice question</button>
                        <button class="btn btn-primary" *ngIf="didChoseMultipleQuestion()" style="min-width: 250px;" (click)="setMultipleQuestion()">Multiple choice question</button>
                        <button class="btn btn-basic" *ngIf="!didChoseRateQuestion()" style="min-width: 250px;" (click)="setRateQuestion()">Rating Question</button>
                        <button class="btn btn-primary" *ngIf="didChoseRateQuestion()" style="min-width: 250px;" (click)="setRateQuestion()">Rating Question</button>
                        <button class="btn btn-basic" *ngIf="!didChoseOpenQuestion()" style="min-width: 250px;" (click)="setOpenQuestion()">Open Text Question</button>
                        <button class="btn btn-primary" *ngIf="didChoseOpenQuestion()" style="min-width: 250px;" (click)="setOpenQuestion()">Open Text Question</button>
                        <button class="btn btn-basic" *ngIf="!didChoseDrillDownQuestion()" style="min-width: 250px;" (click)="setDrillDownQuestion()">Drill Down Question</button>
                        <button class="btn btn-primary" *ngIf="didChoseDrillDownQuestion()" style="min-width: 250px;" (click)="setDrillDownQuestion()">Drill Down Question</button>
                    </div>

                </div>
                <div class="dropdown">
                    <button *ngIf = "QuestionWithPosition()"class="dropbtn" style="margin: 0em 0.5em;" [hidden]="editionMode">
                        <span class="fa fa-chevron-down"> {{positon_desc}}</span>
                    </button>
                    <div class="dropdown-content">
                        <button class="btn btn-basic" *ngIf="!didChoseUpperRight()" style="min-width: 250px;" (click)="setUpperRightPosition()">Upper Right</button>
                        <button class="btn btn-primary" *ngIf="didChoseUpperRight()" style="min-width: 250px;" (click)="setUpperRightPosition()">Upper Right</button>
                        <button class="btn btn-basic" *ngIf="!didChoseUpperMiddle()" style="min-width: 250px;" (click)="setUpperMiddlePosition()">Upper Middle</button>
                        <button class="btn btn-primary" *ngIf="didChoseUpperMiddle()" style="min-width: 250px;" (click)="setUpperMiddlePosition()">Upper Middle</button>
                        <button class="btn btn-basic" *ngIf="!didChoseUpperLeft()" style="min-width: 250px;" (click)="setUpperLeftPosition()">Upper Left</button>
                        <button class="btn btn-primary" *ngIf="didChoseUpperLeft()" style="min-width: 250px;" (click)="setUpperLeftPosition()">Upper Left</button>
                        <button class="btn btn-basic" *ngIf="!didChoseButtomRight()" style="min-width: 250px;" (click)="setButtomRightPosition()">Bottom Right</button>
                        <button class="btn btn-primary" *ngIf="didChoseButtomRight()" style="min-width: 250px;" (click)="setButtomRightPosition()">Bottom Right</button>
                        <button class="btn btn-basic" *ngIf="!didChoseButtomMiddle()" style="min-width: 250px;" (click)="setButtomMiddlePosition()">Bottom Middle</button>
                        <button class="btn btn-primary" *ngIf="didChoseButtomMiddle()" style="min-width: 250px;" (click)="setButtomMiddlePosition()">Bottom Middle</button>
                        <button class="btn btn-basic" *ngIf="!didChoseButtomLeft()" style="min-width: 250px;" (click)="setButtomLeftPosition()">Bottom Left</button>
                        <button class="btn btn-primary" *ngIf="didChoseButtomLeft()" style="min-width: 250px;" (click)="setButtomLeftPosition()">Bottom Left</button>
                    </div>

                </div>
                <div class="dropdown" [hidden]="!didChoseMultipleQuestion()">
                    <button class="dropbtn" [hidden]="editionMode">
                        <span class="fa fa-chevron-down"> {{multiple_type}} </span>
                    </button>
                    <div class="dropdown-content">
                        <button class="btn btn-basic" *ngIf="!didChoseHorizontalType()" style="min-width: 250px;" (click)="setHorizontalType()">
                            Horizontal</button>
                        <button class="btn btn-primary" *ngIf="didChoseHorizontalType()" style="min-width: 250px;" (click)="setHorizontalType()">
                            Horizontal</button>
                        <button class="btn btn-basic" *ngIf="!didChoseVerticalType()" style="min-width: 250px;" (click)="setVerticalType()"> Vertical</button>
                        <button class="btn btn-primary" *ngIf="didChoseVerticalType()" style="min-width: 250px;" (click)="setVerticalType()"> Vertical</button>
                        <button class="btn btn-basic" *ngIf="!didChoseMatrixType()" style="min-width: 250px;" (click)="setMatrixType()"> Matrix</button>
                        <button class="btn btn-primary" *ngIf="didChoseMatrixType()" style="min-width: 250px;" (click)="setMatrixType()"> Matrix</button>
                    </div>

                </div>

            </div>
            <div class="centered">
                <br>
                <div *ngIf="(didChosetype() && !didChoseDrillDownQuestion() ) && !didChoseQuestionPosition() && !didChoseDrillDownQuestion() && submit" style="color: rgb(255, 55, 98);font-size:20px;">
                    Please choose Position for your question
                </div>
                <div *ngIf="didChoseMultipleQuestion() && !didChoseMultipleChoiceType() && submit" style="color: rgb(255, 55, 98);font-size:20px;">
                  <br>
                  Please choose type for your multiple choice question
                </div>
            </div>
        </div>
        <div *ngIf="didChoseRateQuestion()" style="height:100px;" class="centered">
            <app-create-rate-question [question]="question_object"></app-create-rate-question>
        </div>
        <div *ngIf="didChoseOpenQuestion()" class="centered">
            <app-create-open-question [question] = "question_object" ></app-create-open-question>
        </div>
        <div *ngIf="didChoseMultipleQuestion() && (didChoseVerticalType() || didChoseHorizontalType())">
            <app-create-vertical-horizontal-multiple [question] = "question_object" ></app-create-vertical-horizontal-multiple>
            <div class="centered">
                <div *ngIf="!haveAnswers() && submit" style="color: rgb(255, 55, 98);font-size:20px;">
                    Please enter at least one answer
                </div>
            </div>
        </div>
        <div *ngIf="didChoseMultipleQuestion() && didChoseMatrixType()">
            <app-create-matrix-multiple-question [question] = "question_object" ></app-create-matrix-multiple-question>
            <div *ngIf="missingAnswers() && submit" style="color: rgb(255, 55, 98);font-size:20px;" class="centered">
                Please enter all answers, and at least 2 characters to an answer

            </div>



        </div>
        <div *ngIf="didChoseDrillDownQuestion()">
            <app-create-drill-down-question [question]="question_object"></app-create-drill-down-question>
            <div class="centered" *ngIf="submit && !haveMainAnswers()" Style="color: rgb(255, 55, 98);font-size:20px;">
                Please enter at least one answer
            </div>
        </div>
        <div  class="centered" *ngIf="(questionText == '' || questionText == null || isSpacePrefix(questionText)) && submit" style="color: rgb(255, 55, 98);font-size:20px;">
            A question is required
        </div>
        <div class="container" style="max-width: 30%;">

          <input autocomplete="off" type="submit" value="Submit Question" (click)="onSubmit()"
                 class="btn btn-primary"
                 [ngStyle]="{'width' : '75%'}">
       </div>
        <br>

        <div class="container" style="max-width: 30%;">
          <input autocomplete="off" type="submit" value="Cancel" (click)="cancelDialog()" class="btn btn-danger"
                 [ngStyle]="{'width' : '75%'}">
        </div>


<br>
</form>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</div>
