<div class=" container" >
<div *ngFor="let question of block.questions; let i=index" class="form-group"  style="background-color:white;">
   <div class="row">
    <div>{{clockDisplay}}</div>
    </div>


    <div class="column">
        <app-question-preview *ngIf="showQuestion(i)" [question]="parseToQuestion(question.question)" [picture]="question.pictureLink"></app-question-preview>
    </div>







</div>
<br>
<div  style="text-align:right;">
  <input *ngIf="!finish" type="submit" class="btn btn-primary ml-auto" (click)="nextQuestion()"
         [value]=" currIndex == block.questions.length - 1 ? 'Finish Block' : 'Next Question'">
</div>
</div>
