<div class="card w-100 " style="width: 100%;">
    <div class="card-body ">
      <div id="blockBody " data-children=".item">
        <div class="card-header bg-light" role="tab" id="headingOne">
          <div class="item">
            <button type="button" class="btn btn-dark btn-lg  btn-block " (click)="toggleHidden()">
              Block {{blockNumber + 1 }}
            </button>
          </div>
          <div class="collapse show" role="tabpanel" [hidden]="hidden">


            <div *ngFor="let currQuestion of questionList; let i = index;">
              <div class="card questionBG">
                <div class="card-body border-primary">
                  <a class="btn arrowbg btn-sm fa fa-arrow-up" (click)="moveMeUp(i)"></a>
                  <a class="btn arrowbg btn-sm fa fa-arrow-down" (click)="moveMeDown(i)"></a>
                  <br>

                  <app-question [myData]="currQuestion" [index]="i"></app-question>

                  <br>
                  <button class="btn btn-sm btn-danger" (click)="deleteQuestion(i)">
                  <span class="fa fa-trash"></span> Delete question</button>
                  <button class="btn btn-sm btn-primary" (click)="editQuestion(i)">
                  <span class="fa fa-cog"></span> Edit question</button>
                  <button class="btn btn-sm btn-primary" (click)="saveLinkForQuestion(i)"
                    data-toggle="modal" data-target="#imageDistruction">Change distraction image</button>
                </div>
              </div>
            </div>
            <br>
            <div style="text-align: center;">
              <button class="btn btn-primary btn-sm" (click)="openDialog()">
                <span class="fa fa-plus"></span> Create new question
              </button>
            </div>
          </div>
                  <!--the tags will be stored in the items elements. and have the following features:
         * editable
         * maximum 5 tags
         * indicate when inserting duplicated tag
         TODO - validation
        -->
        <tag-input [(ngModel)]='tags' [editable]='true' [maxItems]='10' [blinkIfDupe]='true'
        [ripple]='true' (onAdd)='addTag()' (onRemove)='removeTag()'></tag-input>
        </div>
        <div class="item">
        </div>
      </div>
    </div>
  </div>


  <!-- Modal -->
  <div id="imageDistruction" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="btn btn-success" data-dismiss="modal">Finish</button>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <app-upload class="modal-title" (finished)="loadNewImage($event)"></app-upload>

          <hr>
          <h3>Choose existing image</h3>
          <ng-container  *ngFor='let picLink of pictureLinks.reverse()'>
              <img src="{{ picLink }}" class="img-thumbnail rounded mx-auto d-block"
               (click)="addPictureToQuestion(picLink)" [ngClass] = "isTheChosenPicture(picLink)">
          </ng-container>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
