<div class = "form-inline search-bar">
    <select [(ngModel)]="filter.option" class="custom-select col-md-2" data-toggle="tooltip" title="The column to filter by" (change)="chooseCategory=true">
        <option selected value = 'empty'>Column...</option>
        <option value = 'project'>Project</option>
        <option value = 'name'>Name</option>
        <option value = 'notes'>Notes</option>
    </select>
  <input type="text" placeholder="Filter By.." class="form-control col-md-8" [(ngModel)]="filter.text"
         (keydown)="filterKeyDown($event)" data-toggle="tooltip" title="The substring to look for (in the chosen colunm)">
    <button class = "form-control btn btn-block btn-primary col-md-2"  (click) = "filterTests()">
        <i class= "fa fa-search"></i> Search
    </button>
</div>
<div *ngIf="!chooseCategory" style="color: rgb(255, 55, 98);font-size:20px;font-family: Arial;">Please choose category</div>

<br>
<div class = "row">
    <div class="col-md-10">
        <h2><i class="fa fa-database"></i> Tests</h2>
    </div>
</div>
<br>
<ng-container *ngIf="loaded && testList?.length > 0; else noTests">
    <table *ngIf="filteredTestList?.length > 0; else noMatchingTests" class="table table-striped">
      <thead class="thead-invers">
        <tr>
          <th>Name</th>
          <th>No. Questions</th>
          <th>Project</th>
          <th>Notes</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th><a href="#" routerLink="/create-test" ><i class="fa fa-plus-circle "></i> Add Test</a></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let test of filteredTestList">
          <td>{{ test.name }}</td>
          <td>{{ test.numberOfQuestions }}</td>
          <td>{{ test.project }}</td>
          <td>{{ test.notes }}</td>
          <td><a class="btn btn-secondary btn-sm" href="#" (click)="$event.preventDefault(); deleteTest(test.id);"><i class="fa fa-times"></i> Delete</a></td>
          <td><a [routerLink]="['/test-preview/'+test.id]" href="#" class="btn btn-secondary btn-sm"><i class="fa fa-window-maximize"></i> Preview</a></td>
          <td><a [routerLink]="['/edit-test/'+test.id]" href="#" class="btn btn-secondary btn-sm"><i class="fa fa-arrow-circle-o-right"></i> Edit</a></td>
          <td><a (click)="$event.preventDefault(); copyTest(test);" href="#" class="btn btn-secondary btn-sm"><i class="fa fa-file-powerpoint-o "></i> Copy</a></td>
          <td><a [routerLink]="['/test-results/'+test.id + '/' + test.name]" href="#" class="btn btn-secondary btn-sm"><i class="fa fa-address-book "></i> Results</a></td>
          <td><a  (click)="genLinkForTest(test)"class="btn btn-secondary btn-sm" href="#" data-toggle="modal" data-target="#uploadEmails"><i class="fa fa-link "></i>Link</a></td>
        </tr>
      </tbody>
    </table>
</ng-container>
    <div class="modal fade" id="uploadEmails">
        <div class="modal-dialog">
          <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title text-muted">Choose Emails</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>


            <!-- Modal body -->
            <div class="modal-body form-group">
                  <h6>
                    The test can be reached in <a href="{{ link }}">this</a> link.
                    <br>
                    <br>
                    You can send it to a list of emails from a txt file.
                    File format:
                    <br>
                    <br>
                    user@host.com
                    <br>
                    user2@host2.com
                  </h6>
                  <br>
                  <input  #inputFile type = "file" class = "form-control-file" name="file" accept=".txt" (change)="updateFile($event)"/>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
              <button [disabled]="!chosen_file" class="btn btn-block btn-primary col-md-12" data-dismiss="modal" (click)="gen_link()">Send link to
                emails
              </button>
            </div>

          </div>
        </div>
      </div>
<ng-template #noTests>
  <hr>
  <h5 *ngIf="loaded">There are no tests in the system... Click <a href="#" routerLink="/create-test" >here</a> to add a test</h5>
  <div *ngIf="!loaded">
    <app-loading loading_value="tests" color="White"></app-loading>
  </div>
</ng-template>
<ng-template #noMatchingTests>
  <hr>
  <h5>There are no tests that meet the filtering requirements</h5>
</ng-template>
