<div class="row">
    <div class="col-md-10">
        <h2><i class="fa fa-database"></i> Tests</h2>
    </div>
</div>

<br>
<table *ngIf="testList?.length > 0; else noTests" class="table table-striped">
  <thead class="thead-invers">
    <tr>
      <th>Name</th>
      <th>No. Questions</th>
      <th>Last Modified</th>
      <th>Last Answered</th>
      <th></th>
      <th></th>
      <th></th>
      <th><a href="#" (click)="addTest()" ><i class="fa fa-plus-circle "></i> Add Test</a></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let test of testList">
      <td>{{ test.name }}</td>
      <td>{{ test.numberOfQuestions }}</td>
      <td>{{ convertToDateString(test.lastModified) }}</td>
      <td>{{ test.lastAnswered == null ? '' : convertToDateString(test.lastAnswered) }}</td>
      <td><a class="btn btn-secondary btn-sm" (click)="deleteTest(test.id)"><i class="fa fa-times"></i> Delete</a></td>
      <td><a [routerLink]="['/test/'+test.id]" href="#" class="btn btn-secondary btn-sm"><i class="fa fa-window-maximize"></i> Preview</a></td>
      <td><a [routerLink]="['/test/'+test.id]" href="#" class="btn btn-secondary btn-sm"><i class="fa fa-arrow-circle-o-right"></i> Edit</a></td>
      <td><a (click)="copyTest(test)" class="btn btn-secondary btn-sm"><i class="fa fa-file-powerpoint-o "></i> Copy</a></td>
    </tr>
  </tbody>
</table>
<ng-template #noTests>
  <hr>
  <h5>There are no tests in the system... Click <a href="#" routerLink="/edit-test" >here</a> to add a test</h5>
</ng-template>