<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

    <property name = "hibernate.dialect">
      org.hibernate.dialect.MySQLDialect
    </property>

    <property name = "hibernate.connection.driver_class">
        com.mysql.jdbc.Driver
    </property>

    <property name = "hibernate.connection.url">
        <!-- TODO: add db address -->
        jdbc:mysql://0.0.0.0
    </property>

    <property name = "hibernate.connection.username">
        <!-- TODO: add username -->
        root
    </property>

    <property name = "hibernate.connection.password">
        <!-- TODO: add password -->
        password
    </property>

   </session-factory>
</hibernate-configuration>
