<div style="height:100px;" class="centered">
  <h2 style="font-family:Arial; font-size: 25px; color: white">
      Please enter the maximal bound for the rate (max is 15):
      <span style="border: 1px; border-style:solid; border-color: white; margin: 0px 10px 0px 0px;">
          <span style="margin: 0px 3px 0px 3px;">{{rateSize}}</span>
      </span>
      <button class="btn btn-sm btn-basic" (click)="increaseRate()">
          <span class="fa fa-plus"></span>
      </button>
      <button class="btn btn-sm btn-basic" (click)="decreaseRate()">
          <span class="fa fa-minus"></span>
      </button>
  </h2>

</div>