<div class="cover">
  <div class="container">
    <div *ngFor="let it of iterator; let i = index;">
      <br>
      <a class="btn btn-secondary btn-sm fa fa-arrow-up" (click)="moveMeUp(currBlock.blockNumber)"></a>
      <a class="btn btn-secondary btn-sm fa fa-arrow-down" (click)="moveMeDown(currBlock.blockNumber)"></a>
      <app-block [blockNumber] = "i" ></app-block>
      <button class="btn btn-secondary btn-sm" (click) = "getQuestions(i)">Show me questions</button>
      <br>
    </div>
  </div>
  <div class="container">
    <button class="btn btn-primary btn-sm" (click)="addBlock()">
      <span class="fa fa-plus"></span> Create new block</button>
  </div>
</div>