<div class="container">
  <div class="card w-75">
    <div class="card-header">
      <div class="row">
        <div class="col-4">
          <p>
            <a class="btn btn-outline-primary btn-lg  " (click)="toggleHidden()">{{questionName}}</a>
          </p>
          <a href="#" class="btn btn-secondary btn-sm">
            <span class="fa fa-cog"></span> Edit question
          </a>
        </div>

        <div class="col-4">
          <div class="card-body">
            <h3 class="first">Add a tag...</h3>

          </div>

        </div>
      </div>
    </div>
    <div class="card-body" [hidden]="hidden">
      <app-multiple-choice-question *ngIf="type==0"></app-multiple-choice-question>
      <app-rate-question *ngIf="type==1"></app-rate-question>
      <app-open-question *ngIf="type==2"></app-open-question>


    </div>
  </div>
</div>