<!--<app-multiple-choice-question></app-multiple-choice-question>-->
<!--<app-multiple-question></app-multiple-question>-->
<!--<app-open-question></app-open-question>-->
<!--<app-login-page></app-login-page>-->
<!--router-outlet></router-outlet-->
<!--<app-create-test></app-create-test>-->
<!--app-create-question></app-create-question-->
<!--<app-back></app-back>-->
<!--<app-registration-form></app-registration-form>-->
<app-block></app-block>
<!--<app-question [type]="'0'"></app-question>-->
<!--<app-rate-question></app-rate-question>-->
<!--<app-question-list></app-question-list>-->
<router-outlet></router-outlet>
