
   <h2><i class="fa fa-database" style="text-align: center"></i>{{question.text }}</h2>
      <div *ngIf = "isVertical()" class="centered" style="margin:3em">
        <div  *ngFor="let answer of question.answers">
              <div class="styled-input-container">
                  <div class="styled-input-single">
                    <input  class="onoffswitch-checkbox" id="check-box-{{answer.answer}}" [checked] = "answer.isMarked" name="isMarked" type="checkbox" (change)="markAnswer(answer.answer)" style="margin:0.5em"> 
                    <label for="check-box-{{answer.answer}}">{{ answer.answer }}</label>
                  </div>
              </div>
        </div>
      </div>
      <div *ngIf = "isHorizontal()" class="row" style="margin: 10px;">
          <div  *ngFor="let answer of question.answers" class="column" style="margin:3em">
                <div class="styled-input-container">
                    <div class="styled-input-single">
                        <input  class="onoffswitch-checkbox" id="check-box-{{answer.answer}}" [checked] = "answer.isMarked" name="isMarked" type="checkbox" (change)="markAnswer(answer.answer)" style="margin:0.5em"> 
                        <label for="check-box-{{answer.answer}}">{{ answer.answer }}</label>
                    </div>
                </div>
          </div>
      </div>
      <div *ngIf = "isMatrix()" class="centered">
         <div *ngFor="let currRow of matrixAnswers"  style="margin:3em" class="row">
            <div  *ngFor = " let currAns of currRow" style="margin: 1em;">
                
                <div class="styled-input-container">
                        <div class="styled-input-single">
                            <input  class="onoffswitch-checkbox" id="check-box-{{currAns.answer}}" [checked] = "isMarkedInMatrix(currAns.answer)" name="isMarked" type="checkbox" (change)="markAnswer(currAns.answer)" style="margin:3em"> 
                            <label for="check-box-{{currAns.answer}}">{{ currAns.answer }}</label>
                        </div>
                </div>
            </div>
         </div> 
      </div>
      <h4>How confident you feel in your answer, in precentage?</h4>
      <div id="slidecontainer">
          <input type="range" min="0" max="100" value="50" class="slider" id="myRange" [(ngModel)] = "range_value">
      </div>
      <h6 style="text-align: center;font-size:20px;" >{{ range_value }}%</h6>
      <input type="button" class="btn btn-primary" value="Move to the next question" style="margin:10px 670px;" (click)="onSubmit($event)">


