@keyframes loading {
    100% {
        transform:rotate(-360deg);
    }
}

@keyframes resize_animation {
    100% {
        transform: scale(0.3);
    }
}

.loading {
    width: 20%;
    height: 20%;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: loading;
    animation-timing-function: linear;
}

h1 {
    color: #ffffff;
}
