<div>
    <div *ngFor="let currQ of myQuestions; let i=index">
        <app-multiple-choice-question *ngIf="myQuestions[i].type==0" [hidden]="hide(i)"></app-multiple-choice-question>
        <app-rate-question *ngIf="myQuestions[i].type==1" [hidden]="hide(i)"></app-rate-question>
        <app-open-question *ngIf="myQuestions[i].type==2" [hidden]="hide(i)"></app-open-question>
     
    </div>
</div>
<p>
        <a class="btn btn-outline-primary btn-lg  " (click)="nextquestion()">Next Question</a>
      </p>