<br>
<div class="container">
  <input type="submit" class="btn btn-primary btn-sm" routerLink="/dashboard" value="Go to dashboard">
</div>
<div class="titleBoi">Cognitivity</div>
<br>
<br>
<div *ngIf="savingTest">
    <app-loading loading_value="save test" color="White"></app-loading>
</div>
<div class="form-group" *ngIf="!savingTest">
    <div class="centered">
        <h1>
            <span class="fa fa-sticky-note-o"></span> Create New Test</h1>
        <br><br><br>
        <h4>Enter title for the test: </h4>
      <input [(ngModel)]="titleTest" name="title" #title="ngModel" type="text" class="form-control"
             placeholder="Title of the test"
             style="max-width: 100%;" maxLength="50">
        <br>
        <h4>Enter the project's name: </h4>
        <input [(ngModel)]="projectname" name="projectname" #title="ngModel" type="text" class="form-control"
               placeholder="projects name"
               style="max-width: 50%;" maxLength="50">
          <br>
        <h4>Enter notes for the test: </h4>
        <input [(ngModel)]="notes" name="notes" #title="ngModel" type="text" class="form-control"
               placeholder="Notes of the test"
               style="max-width: 50%;" maxLength="50">
          <br>

        <div style="text-align: center;">
            <button class="btn btn-primary btn-sm" (click)="addBlock()">
                <span class="fa fa-plus"></span> Create new block</button>
            <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#importTestModal" data-backdrop="static" data-keyboard="false"><span class="fa fa-upload" ></span> Import block</button>
        </div>
    </div>

    <div class="centered">
        <div class="column">

            <div *ngFor="let it of iterator; let i = index;">
                <br>
                <div class="card  bg-info border-dark mb-3">
                    <app-block [blockNumber]="i" [blockInfo] = "it.block" style="margin:1px;"> </app-block>

                    <div class="container">
                        <div class="column">
                            <button class="btn btn-danger btn-sm" (click)="deleteBlock(i)">
                                <span class="fa fa-trash"></span> Delete block</button>
                            <br>
                        </div>
                        <div class="row" style="margin:0px 0px 0px 1px;">
                            <div class="column">
                                <button class="btn btn-secondary btn-sm fa fa-arrow-up" (click)="moveMeUp(i)"></button>
                            </div>
                            <div class="column">
                                <button class="btn btn-secondary btn-sm fa fa-arrow-down" (click)="moveMeDown(i)" style="margin: 0px 0px 0px 5px"></button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <br>
        <div class="centered">
            <button class="btn btn-block btn-success col-md-12" data-toggle="modal" data-target="#uploadTestModal" (click)="uploadTestFile()">Upload Test</button>
            <button class="btn btn-block btn-primary col-md-12" (click)="saveTest()">Save Test</button>
        </div>
        <div *ngIf = "emptyBlock" style="color: rgb(255, 55, 98);font-size:20px;font-family: Arial;">
            Please fill with at least one question or delete block number {{ indexBlock }}
        </div>
        <div *ngIf = "emptyTest" style="color: rgb(255, 55, 98);font-size:20px;font-family: Arial;">
            Please fill with at least one block with at least one question
        </div>
        <div *ngIf = "noTitle" style="color: rgb(255, 55, 98);font-size:20px;font-family: Arial;">
            Error: a test has no name
        </div>
    </div>

    <div class="modal fade" id="uploadTestModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title text-muted">Upload Test</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>


          <!-- Modal body -->
          <div class="modal-body form-group">
                <input #inputFile type = "file" class = "form-control-file" name="file" accept=".json" (change)="updateFile($event)"/>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
              <button [disabled]="!chosen_file" class="btn btn-block btn-primary col-md-12" data-dismiss="modal" (click)="uploadTest()">Upload Test</button>
          </div>

        </div>
      </div>
    </div>

    <div class="modal fade" id="importTestModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title text-muted">Choose test</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div *ngIf="!loaded_tests">
                <div class="modal-body form-group">
                    <div *ngFor="let test of testList; let i = index;">
                            <div  class="modal-footer">
                                    <button data-toggle="modal" data-target="#importBlockModal" data-backdrop="static" data-keyboard="false" style="width: 100%; height:100%; font-size: 20px;font-family: Arial;"class="btn btn-secondary btn-sm no-border"  data-dismiss="modal" (click)="clickTest(i)" >{{ test.name }}</button>
                            </div>
                    </div>
                </div>
            </div>
            <div *ngIf="loaded_tests">
                <app-loading loading_value="tests" color="Black"></app-loading>
            </div>

            <!-- Modal body -->


            <!-- Modal footer -->
            <!--div class="modal-footer">
                <button class="btn btn-block btn-primary col-md-12" data-dismiss="modal" (click)="importBlock()">Import block</button>
            </div-->

          </div>
        </div>
      </div>
      <div class="modal fade" id="importBlockModal">
            <div class="modal-dialog">
              <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                  <button type="button" class="btn btn-secondary btn-sm no-border" data-dismiss="modal" data-toggle="modal" data-target="#importTestModal" data-backdrop="static" data-keyboard="false"><span class="fa fa-arrow-left"></span></button>
                  <h4 class="modal-title text-muted">Import Block from {{ testNameToImport }}</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div *ngIf="!loaded_blocks">
                    <div class="modal-body form-group">
                        <div *ngIf="!blockPreview">
                            <div  *ngFor="let block of testBlockList; let i = index;">
                                    <div class="modal-footer">
                                        <button style="width: 100%; height:100%; font-size: 20px;font-family: Arial;" class="btn btn-secondary btn-sm" data-dismiss="modal" (click)="addImportedBlock(i)">{{ prettifyTagList(block, i) }}</button>
                                        <button class="btn btn-success btn-sm" style="height:100%;" (click)="previewBlock(i)">Preview Block</button>
                                    </div>
                            </div>
                        </div>

                        <div *ngIf="blockPreview">
                                <app-block-preview  [block]="chosenBlock" (finished)="isFinished($event)"></app-block-preview>
                        </div>
                    </div>
                </div>
                <div *ngIf="loaded_blocks">
                    <app-loading loading_value="blocks" color="Black"></app-loading>
                </div>


              </div>
            </div>
          </div>
