<div class=" container" >
  <div *ngFor="let question of block.questions; let i=index" class="form-group"  style="background-color:white;">
    <div class="customLocation" *ngIf="showClock && showQuestion(i)">

      {{clockDisplay}}

    </div>
    <div class="row">
        <div class="column" width="%80"><app-test-page-question *ngIf="showQuestion(i)" [timing]="timing" [testId]="testId" [fatherBlockID]="block.id" [question]="parseToQuestion(question)" (finished)="onQuestionFinish($event)"></app-test-page-question></div>
    
        <div class="column" width="%20">
       
            <div class="row"><app-picture-preview *ngIf="question.pictureLink!=undefined" [picture]="question.pictureLink" ></app-picture-preview></div>
        </div>
        </div>
  </div>
  <br>
  <div  style="text-align:right;">
    <input *ngIf="!finish && didAnswerQuestion" type="submit" class="btn btn-primary ml-auto" (click)="nextQuestion()"
           [value]=" wasAllShown()==1 ? 'Finish Section' : 'Next Question'">
  </div>
  </div>
