<div>
  <div *ngIf="haveMainAnswers()">
      <div class="centered">
          <span style="font-family:Arial; font-size: 25px; color: white">Main answers so far. Please mark the correct answer (optional):</span>
      </div>
      <br>
      <div class="container">
          <div class="dropdown">
              <button class="dropbtn">
                  <span class="fa fa-chevron-down"> Main Answers </span>
              </button>

              <div class="dropdown-content">
                  <div *ngFor="let answer of mainAnswers; let i = index;">
                      <button [disabled]="editionModeMain"
                          [ngStyle]=" { 'min-width': generateHighestBox(mainAnswers), 'font-size': '15px'} " class="btn btn-basic"
                          (click)="markMainAnswer(i)">{{ answer }}</button>
                  </div>
              </div>
          </div>
      </div>
      <br>
      <div class="centered">
          <div *ngIf="showMainAnswer">
              <div style="margin: 10px; font-family: Arial; font-size: 25px;color: white;">{{mainAnswers[indexOfMainanswerToShow]}}
                  <br>
              </div>
              <button *ngIf="markedMainCorrectAnswer[indexOfMainanswerToShow]" [ngStyle]="{ 'width': '150px'}" class="btn btn-sm btn-success"
                  style="color:white;" (click)="markCorretMainAnswer(indexOfMainanswerToShow)" >Correct Answer</button>
              <button *ngIf="!markedMainCorrectAnswer[indexOfMainanswerToShow]" [ngStyle]="{ 'width': '150px'}" class="btn btn-sm btn-danger"
                  style="color:white;" (click)="markCorretMainAnswer(indexOfMainanswerToShow)" >Unmarked answer</button>
              <button class="btn btn-sm btn-secondary" style="margin: 10px;" (click)="goMainUp(indexOfMainanswerToShow)" [disabled]="editionModeMain">
                  <span class="fa fa-arrow-up"></span>
              </button>
              <button class="btn btn-sm btn-secondary" style="margin: 10px;" (click)="goMainDown(indexOfMainanswerToShow)" [disabled]="editionModeMain">
                  <span class="fa fa-arrow-down"></span>
              </button>
              <button class="btn btn-sm btn-secondary" style="margin: 10px;" (click)="deleteMainAnswer(indexOfMainanswerToShow)" [disabled]="editionModeMain">
                  <span class="fa fa-trash"></span> Delete answer</button>
              <button class="btn btn-sm btn-primary" style="margin: 10px; " (click)="editMainAnswer(indexOfMainanswerToShow)" [disabled]="editionModeMain">
                  <span class="fa fa-pencil"></span> Edit answer</button>
              <button class="btn btn-sm btn primary" *ngIf="!secondaryExists()" (click)="addSecondaryQuestion(indexOfMainanswerToShow)"
                  [disabled]="editionModeMain || secondaryAnswerMode || editionQuestionSecondary">
                  <span class="fa fa-plus"></span> Add Secondary Question</button>
              <button class="btn btn-sm btn primary" *ngIf="secondaryExists() && !viewSecondary" (click)="viewSecondaryAnswer()" [disabled]="editionModeMain || secondaryAnswerMode || editionQuestionSecondary">
                  <span class="fa fa-arrow-down"></span> View Secondary Question</button>
              <button class="btn btn-sm btn primary" *ngIf="secondaryExists() && viewSecondary" (click)="viewSecondaryAnswer()" [disabled]="editionModeMain || secondaryAnswerMode || editionQuestionSecondary">
                  <span class="fa fa-arrow-up"></span> Hide Secondary Question</button>

          </div>
          <div *ngIf="viewSecondary">
              <br>
              <div class="container">
                  <h2 style="font-family: Arial;color: white; max-width: 100%;word-wrap:break-word;">Secondary question is: {{ questionView }}</h2>
              </div>
              <br>
              <div class="container">
                  <div class="dropdown">
                      <button class="dropbtn">
                          <span class="fa fa-chevron-down"> Secondary Answers </span>
                      </button>

                      <div class="dropdown-content">
                          <div *ngFor="let answer of viewAnswers; let i = index;">
                              <button [ngStyle]=" { 'min-width': generateHighestBox(mainAnswers), 'font-size': '15px'} " class="btn btn-basic">{{ answer }}</button>
                          </div>
                      </div>
                  </div>
              </div>
              <br>
              <div class="container">
                  <button class="btn btn-md btn-primary" (click)="editSecondaryQuestion()">Edit secondary question</button>
              </div>
              <br>
          </div>
          <div *ngIf="secondaryAnswerMode || editionQuestionSecondary">
              <label for="Question text">
                  <span style="font-family:Arial; font-size: 25px; color: white">Enter the secondary question:</span>
              </label>
            <input autocomplete="off" [(ngModel)]="currentSecondaryQuestion" name="question2" #question="ngModel"
                   type="text" class="form-control"
                   placeholder="Secondary question text" style="max-width: 100%;" required maxLength="256">
              <br>
          </div>
      </div>
  </div>
  <div *ngIf="(secondaryAnswerMode || editionQuestionSecondary)">
      <div class="centered">
          <div *ngIf="hasSecondaryAnswers()">
              <div class="centered">
                  <span style="font-family:Arial; font-size: 25px; color: white">Secondary answers so far. Please mark the correct answer (optional):</span>
              </div>
              <br>
              <div *ngFor="let answer of secondaryAnswers; let i = index;">
                  <div style="margin: 10px; font-family: Arial; font-size: 25px;color: white;">{{ answer }}
                      <br>
                  </div>
                  <button *ngIf="markedSecondaryCorrectAnswer[i]" [ngStyle]="{'width': '150px'}" class="btn btn-sm btn-success" style="color:white;"
                      (click)="markCorretSecondaryAnswer(i)" [disabled]="editionModeSecondary">Correct Answer</button>
                  <button *ngIf="!markedSecondaryCorrectAnswer[i]" [ngStyle]="{'width': '150px'}" class="btn btn-sm btn-danger" style="color:white;"
                      (click)="markCorretSecondaryAnswer(i)" [disabled]="editionModeSecondary">Unmarked answer</button>
                  <button class="btn btn-sm btn-secondary" style="margin: 10px;" (click)="goSecondaryUp(i)" [disabled]="editionModeSecondary">
                      <span class="fa fa-arrow-up"></span>
                  </button>
                  <button class="btn btn-sm btn-secondary" style="margin: 10px;" (click)="goSecondaryDown(i)" [disabled]="editionModeSecondary">
                      <span class="fa fa-arrow-down"></span>
                  </button>
                  <button class="btn btn-sm btn-secondary" style="margin: 10px;" (click)="deleteSecondaryAnswer(i)" [disabled]="editionModeSecondary">
                      <span class="fa fa-trash"></span> Delete answer</button>
                  <button class="btn btn-sm btn-primary" style="margin: 10px; " (click)="editSecondaryAnswer(i)" [disabled]="editionModeSecondary">
                      <span class="fa fa-pencil"></span> Edit answer</button>

              </div>
          </div>
          <label for="Answer text">
              <span style="font-family:Arial; font-size: 25px; color: white">Enter an answer for the secondary question:</span>
          </label>
        <input autocomplete="off" [(ngModel)]="currentSecondaryAnswer" name="answerSecondary" #answerSecondary="ngModel"
               type="text" class="form-control"
               placeholder="Answer text" style="max-width: 100%;" required maxLength="30">

          <button class="btn btn-primary" style="margin:1em 0em;" (click)="addSecondaryAnswer()" [disabled]="editionModeSecondary">
              <span class="fa fa-plus"></span> Add answer</button>
          <div *ngIf = "(currentSecondaryAnswer == null || currentSecondaryAnswer.length < 1 || isSpacePrefix(currentSecondaryAnswer)) && typedSecondaryAnswer" style="color:red;">
              Please enter an answer of at least 2 characters and a proper answer
          </div>
      </div>
  </div>
  <div *ngIf="!editionModeMain && !secondaryAnswerMode && !viewSecondary && !editionQuestionSecondary">
      <div class="centered">
          <label for="Question text">
              <span style="font-family:Arial; font-size: 25px; color: white">Enter an answer for the main question:</span>
          </label>
        <input autocomplete="off" [(ngModel)]="currentMainAnswer" name="answer" #answer="ngModel" type="text"
               class="form-control"
               placeholder="Answer text" style="max-width: 100%;" maxLength="30">
          <button class="btn btn-primary" style="margin:1em 0em;" (click)="addMainAnswer()">
              <span class="fa fa-plus"></span> Add answer</button>
          <div *ngIf="typedMainAnswer && (currentMainAnswer == null || currentMainAnswer.length < 1 || isSpacePrefix(currentMainAnswer))" style="color: rgb(255, 55, 98);font-size:20px;font-family: Arial;">
              Please enter an answer with at least one character and a proper answer text
          </div>
          <div [hidden] = "!answerExistsInArray" style="color: rgb(255, 55, 98);font-size:20px;font-family: Arial;">
              This answer already exists
          </div>
      </div>
  </div>
  <div *ngIf="editionModeMain && !secondaryAnswerMode && !viewSecondary && !editionQuestionSecondary">
      <div class="centered">
          <label for="Answer text">
              <span style="font-family:Arial; font-size: 25px; color: white">Edit your main answer: </span>
          </label>
        <input autocomplete="off" [(ngModel)]="currentMainAnswer" name="answerMutiple" #answerMultiple="ngModel"
               type="text" class="form-control"
               placeholder="Answer text" style="max-width: 100%;" maxLength="30">
          <button class="btn btn-primary" style="margin:1em 0em;" (click)="applyEditMain()">
              <span class="fa fa-pencil"></span> Apply change</button>
          <button class="btn btn-primary" style="margin:1em 0em;" (click)="undoEditMain()">
              <span class="fa fa-undo"></span> Undo change</button>
          <div *ngIf="typedMainAnswer && (currentMainAnswer == null || currentMainAnswer.length < 1 || isSpacePrefix(currentMainAnswer))" style="color: rgb(255, 55, 98);font-size:20px;font-family: Arial;">
              Please enter an answer with at least 2 characters, and a proper answer
          </div>
          <div [hidden] = "!answerExistsInArray" style="color: rgb(255, 55, 98);font-size:20px;font-family: Arial;">
              This answer already exists
          </div>
      </div>
  </div>
</div>
<div class="centered" *ngIf="(secondaryAnswerMode || editionQuestionSecondary) && !editionModeSecondary">
  <button *ngIf="!editionQuestionSecondary" class="btn  btn-primary" (click)="finishSecondaryQuestion()">Add secondary question</button>
  <button *ngIf="editionQuestionSecondary" class="btn  btn-primary" (click)="finishSecondaryQuestion()">Apply changes</button>
  <button class="btn btn-primary" style="margin:1em 0em;" (click)="undoSecondary()">
      <span class="fa fa-undo"></span> Cancel secondary question</button>
  <button *ngIf="editionQuestionSecondary" class="btn btn-primary" (click)="backToView()">Undo changes</button>
  <div *ngIf="submitSecondaryQuestion && emptySecondary()" Style="color: rgb(255, 55, 98);font-size:20px;font-family: Arial;">
      Please enter a question and at least 2 characters
  </div>
  <div *ngIf="submitSecondaryQuestion && !hasSecondaryAnswer()" Style="color: rgb(255, 55, 98);font-size:20px;font-family: Arial;">
      Please enter at least one answer
  </div>
</div>
<div *ngIf="(secondaryAnswerMode || editionQuestionSecondary) && editionModeSecondary">
  <div class="centered">
      <button class="btn  btn-primary" (click)="applySecondaryEdit()">Apply change</button>
      <button class="btn btn-primary" style="margin:1em 0em;" (click)="undoSecondaryEdit()">
          <span class="fa fa-undo"></span> Undo edit</button>
  </div>

</div>
