<div class="card w-100 " style="width: 100%;">
  <div class="card-body ">
    <div id="blockBody " data-children=".item">
      <div class="card-header bg-light" role="tab" id="headingOne">
        <div class="item">
          <button type="button" class="btn btn-dark btn-lg  btn-block " (click)="toggleHidden()">
            Block {{blockNumber + 1 }}
          </button>
        </div>
        <div class="collapse show" role="tabpanel" [hidden]="hidden">


          <div *ngFor="let currQuestion of questionList; let i = index;">
            <div class="card questionBG">
              <div class="card-body border-primary">
                <a class="btn arrowbg btn-sm fa fa-arrow-up" (click)="moveMeUp(i)"></a>
                <a class="btn arrowbg btn-sm fa fa-arrow-down" (click)="moveMeDown(i)"></a>

         
                  <app-question [myData]="currQuestion" [index]="i"></app-question>
            

                <button class="btn btn-sm btn-danger" (click)="deleteQuestion(i)">
                  <span class="fa fa-trash"></span> Delete question</button>
                <button class="btn btn-sm btn-primary" (click)="editQuestion(i)">
                  <span class="fa fa-cog"></span> Edit question</button>
              </div>
            </div>
          </div>
          <br>
          <div style="text-align: center;">
            <button class="btn btn-primary btn-sm" (click)="openDialog()">
              <span class="fa fa-plus"></span> Create new question
            </button>
          </div>
        </div>
        <!--the tags will be stored in the items elements. and have the following features:
         * editable
         * maximum 5 tags
         * indicate when inserting duplicated tag
         TODO - validation
        -->
        <tag-input [(ngModel)]='tags'  [editable]='true' [maxItems]='10' [blinkIfDupe]='true' 
        [ripple]='true' (onAdd)='addTag()' (onRemove)='removeTag()'></tag-input>
      </div>
      <div class="item">
      </div>
    </div>
  </div>
</div>