<div class="card w-75">
  <div class="card-body">
    <div id="blockBody" data-children=".item">
      <div class="card-header" role="tab" id="headingOne">
        <div class="item">
          <button type="button" class="btn btn-outline-primary btn-lg  btn-block" (click)="toggleHidden()">
            Block {{blockNumber}}
          </button>
        </div>
        <div class="collapse show" role="tabpanel" [hidden]="hidden">
          <app-question-list></app-question-list>
          <div style="text-align: center;">
            <a href="#" class="btn btn-secondary btn-sm">
              <span class="fa fa-folder-open"></span> Import questions</a>
            <a href="#" class="btn btn-primary btn-sm">
              <span class="fa fa-plus"></span> Create new question</a>
          </div>
        </div>
      </div>
      <div class="item">
      </div>
    </div>
  </div>